.input{
    color: #171c2aef;
}

.input:focus{
    outline: none;
    border: 1px solid #02BC7D;
}

.input:focus::placeholder{
    color: #02bc7eb0;
}

.btn-outline{
    border: 1px solid #02BC7D;
    color: #02BC7D;
    font-weight: bold;
}

.btn-outline:hover{
    background-color: #02BC7D;
    border: #02BC7D;
}

.icons{
    cursor: pointer;
}

.icons:hover{
    color: #02BC7D;    
}